.welcome {
  display: flex;
  justify-content: space-between;
  background-color: #25316D;
}

.welcome h1 {
  background-color: #97D2EC;
  border-radius: 15px;
}

.logout {
  background-color: #97D2EC;
}